@using TusClasificados.Site.Models.ViewModels
@using TusClasificados.Site.Helpers
@model List<AnuncioViewModel>
@{
    ViewBag.Title = "Inicio";
}

<div class="container-fluid">
    @foreach (var fila in Model.Partition(3))
    {
        <div class="row">
            @foreach (var anuncio in fila)
            {
                <div class="col-sm-4">
                    <div class="panel @Html.TipoCuentaColor(anuncio.TipoAnuncio)">
                        <div class="panel-heading">
                            <h3 class="panel-title">@anuncio.Titulo</h3>
                        </div>
                        <div class="panel-body">
                            <p class="text-justify">@anuncio.Detalles</p>
                            <p class="text-justify">@anuncio.ExtraDetalles</p>
                            <p class="text-right">@anuncio.NombreAnunciante</p>
                            <p class="text-right">@anuncio.NumeroContacto</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>